body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to bottom,#0b3d91,#000);
    font-family:Arial;
}

.container{
    text-align:center;
    color:white;
}

h1{
    font-size:40px;
    margin:0;
    color: lawngreen;
}

#time{
    font-size:35px;
    margin:10px 0;
    color:fuchsia;
}

#date{
    font-size:35px;
    margin:10px 0;
    color: crimson;
}
#toggle-btn{
    margin-top:15px;
    padding:5px 10px;
    font-size:15px;
    border-radius:8px;
    cursor:pointer;
    background-color: aqua;
    color: rgb(197, 34, 115);

}